.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

.header-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-link a {
  margin: 5px;
}
